MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfo.cs
MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfoInputs.cache
MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfoInputs.cache
MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfoInputs.cache
MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfo.cs
/.vs
MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfo.cs
MasiniRo.Server/obj/Debug/net9.0/MasiniRo.Server.AssemblyInfoInputs.cache
.vs/ 
/.vs
MasiniRo.Server/bin/Debug/net9.0/MasiniRo.Server.pdb
/MasiniRo.Server/obj
/MasiniRo.Server/obj
/.vs
