#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f0ff; /* light blue */
    color: #003366; /* dark blue */
}

h1, h2, h3, h4, h5, h6 {
    color: #002244;
}

a {
    color: #0044cc;
}

    a:hover {
        color: #001a66;
    }

button {
    background-color: #0044cc;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

    button:hover {
        background-color: #0033aa;
    }